@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.theme-dark {
    --border-color: #3333332c;
    --background-color: #0f0f0f;
    --background-colorish: #202020;
    --gray: #313131;
    --font-color: #dfdfdf;
    --shadow: inset 5.00px 8.66px 13.66px -1.71px rgba(0, 0, 0, 0.15),
    inset -7.50px -12.99px 13.66px -1.71px rgba(0, 0, 0, 0.3),
    15.00px 25.98px 10.25px -5.12px rgba(0, 0, 0, 0.6);
}
.theme-light {
    --border-color: #9797972c;
    --background-color: #dfdfdf;
    --background-colorish: #d1cece;
    --gray: #202020;
    --font-color: #0f0f0f;
    --shadow: 35px 35px 68px 0px rgba(138, 138, 138, 0.5), 
    inset -6px -6px 16px 0px rgba(138, 138, 138, 0.6), 
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --iconSize: 5rem;
    --iconBoxSize: 6rem;
    --textBoxSize: 13.5rem;

    font-weight: 300;
    /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    line-height: 1.75;
    letter-spacing: 2px;
    color: var(--font-color);
}
body {
    background-color: var(--background-color);
    min-height: 100vh;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: var(--background-colorish);
    color: var(--font-color);
    border-radius: 1rem;
}

#themeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .25rem 1rem;
    border: 1rem;
}

.wrapper {
    margin: 2rem;
    display: grid;
    justify-content: center;
    gap: 1.5rem;
}

.clayit {
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-colorish);
    backdrop-filter: blur(50px);
    box-shadow: var(--shadow);
}
.textBox {
    grid-column: span 4;
    grid-row: span 2;

    max-width: 30rem;
    width: 100%;
    height: var(--textBoxSize);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconBox {
    width: var(--iconBoxSize);
    height: var(--iconBoxSize);

    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBox a {
    width: var(--iconSize);
    height: var(--iconSize);
}
.icon {
    width: var(--iconSize);
}


.iconSource {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: .75rem;
    color: var(--font-color);
}



@media screen and (min-width: 600px) {
    .wrapper {
        margin: 2rem;
        display: grid;
        justify-content: center;
        gap: 1.5rem;
    }
    .textBox {
        grid-column: span 4;
        grid-row: span 2;
    }
}



#fadein {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: var(--background-color);
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; 
}

@keyframes fadeinall {
    0% {
        opacity: 1; }
    97% {
        opacity: 0; }
    98% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0); }
    99% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%); }
    100% {
        opacity: 0;
        z-index: -1; 
    } 
}