@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --border-color: #3333332c;
    --dark: #0f0f0f;
    --darkish: #202020;
    --gray: #313131;
    --light: #dfdfdf;
    
    --iconSize: 5rem;
    --iconBoxSize: 6rem;
    --textBoxSize: 13.5rem;

    font-weight: 300;
    /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    line-height: 1.75;
    letter-spacing: 2px;
    color: var(--light);
}
body {
    /* background-color: var(--dark); */
    background-color: var(--dark);
    opacity: 0.8;
    background-size: 1.5rem 1.5rem;
    background-image:  repeating-linear-gradient(to right, var(--gray), var(--gray) 1px, var(--dark) 1px, var(--dark));
    
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
}

.clayit {
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--darkish);
    backdrop-filter: blur(50px);
    box-shadow: inset 5.00px 8.66px 13.66px -1.71px rgba(0, 0, 0, 0.15),
        inset -7.50px -12.99px 13.66px -1.71px rgba(0, 0, 0, 0.3),
        15.00px 25.98px 10.25px -5.12px rgba(0, 0, 0, 0.6);
}
.textBox {
    grid-column: span 3;
    grid-row: span 2;

    max-width: 30rem;
    width: 100%;
    height: var(--textBoxSize);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconBox {
    width: var(--iconBoxSize);
    height: var(--iconBoxSize);

    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBox a {
    width: var(--iconSize);
    height: var(--iconSize);
}
.icon {
    width: var(--iconSize);
}


.iconSource {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: .75rem;
    color: var(--light);
    background-color: var(--dark);
    box-shadow: 0 0 3px 5px var(--dark);
}


#fadein {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: var(--dark);
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; 
}

@keyframes fadeinall {
    0% {
        opacity: 1; }
    97% {
        opacity: 0; }
    98% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0); }
    99% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%); }
    100% {
        opacity: 0;
        z-index: -1; 
    } 
}