@media screen and (max-width: 900px) { 
    .techBox {
        animation: rollHorizontal 7s normal both;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
        -webkit-animation: rollHorizontal 7s normal both;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
    .techStack :hover + .techStack > * :hover {
        animation-play-state: paused;
    }
    .techStack > :nth-child(2) {
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }
    .techStack > :nth-child(3) {
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
    }
    .techStack > :nth-child(4) {
        animation-delay: 3s;
        -webkit-animation-delay: 3s;
    }
    .techStack > :nth-child(5) {
        animation-delay: 4s;
        -webkit-animation-delay: 4s;
    }
    .techStack > :nth-child(6) {
        animation-delay: 5s;
        -webkit-animation-delay: 5s;
    }
    .techStack > :nth-child(7) {
        animation-delay: 6s;
        -webkit-animation-delay: 6s;
    }
    .techStack > :nth-child(8) {
        animation-delay: 7s;
        -webkit-animation-delay: 7s;
    }
    .techStack > :nth-child(9) {
        animation-delay: 8s;
        -webkit-animation-delay: 8s;
    }
    .techStack > :nth-child(10) {
        animation-delay: 9s;
        -webkit-animation-delay: 9s;
    }
}

@media screen and (min-width: 900px) { 
    .techBox {
        animation: rollVertical 10s normal both;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
        -webkit-animation: rollVertical 10s normal both;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
    .techStack :hover + .techStack > * :hover {
        animation-play-state: paused;
    }
    .techStack > :nth-child(2) {
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }
    .techStack > :nth-child(3) {
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
    }
    .techStack > :nth-child(4) {
        animation-delay: 3s;
        -webkit-animation-delay: 3s;
    }
    .techStack > :nth-child(5) {
        animation-delay: 4s;
        -webkit-animation-delay: 4s;
    }
    .techStack > :nth-child(6) {
        animation-delay: 5s;
        -webkit-animation-delay: 5s;
    }
    .techStack > :nth-child(7) {
        animation-delay: 6s;
        -webkit-animation-delay: 6s;
    }
    .techStack > :nth-child(8) {
        animation-delay: 7s;
        -webkit-animation-delay: 7s;
    }
    .techStack > :nth-child(9) {
        animation-delay: 8s;
        -webkit-animation-delay: 8s;
    }
    .techStack > :nth-child(10) {
        animation-delay: 9s;
        -webkit-animation-delay: 9s;
    }
}

@keyframes rollHorizontal {
    0% {
        transform: translateX(0);
    }
    70% {
        /* transform: translateX(-680px) rotateY(0); */
        transform: translateX(-120vw) rotateY(0deg);
    }
    80% {
        /* transform:  translateX(-680px) rotateY(180deg); */
        transform:  translateX(-120vw) rotateY(180deg);
    }
    90% {
        transform:  translateX(0) rotateY(180deg);
    }
    100% {
        transform: translateX(0) rotateY(0);
    }
}

@keyframes rollVertical {
    0% {
        transform: translateY(0);
    }
    97% {
        transform: translateY(120vh) rotateX(0deg);
    }
    98% {
        transform:  translateY(120vh) rotateX(180deg);
    }
    99% {
        transform:  translateY(0) rotateX(180deg);
    }
    100% {
        transform: translateY(0) rotateX(0);
    }
}