.connect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.contact {
    margin: 1rem 0;
    font-style: normal;
    line-height: 2.5rem;
}

.email-form {
    position: relative;
    width: 100%;
    max-width: 30rem;
    margin: 1rem 0;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input, textarea {
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 2px;
        background-color: transparent;
        color: white;
        font-size: 1rem;
    }

    .captcha {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #1c1c1cbb;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        display: none;
        * {display: none;}
    }

    input[type=submit] {
        background-color: #38761D;
        border: none;
        border-radius: 2px;
        margin: 0.5rem auto;
        width: fit-content;
        padding: 0.25rem 3rem;
    }
}