.cvCategory {
    margin: 3rem 0;
    
    h2 {
        text-align: center;
    }
    
    .cvItem {
        font-size: 1.1rem;
        padding-bottom: 2rem;
        
        
        * {
            padding: 0.25rem 0;
        }
        :last-child {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .cvCategory {
        h2 {
            text-align: left;
        }
    }
}