.cvPage {
    display: flex;
    flex-direction: row;
    
    h2 {
        text-align: center;
        margin-top: 3rem;
    }
}

.cvSide {
    margin-left: 0.25rem;
    border-left: 0.25rem solid #dfdfdf;
    padding-left: 0.25rem;
}

.cvCategory {
    
    .cvItem {
        font-size: 1.1rem;
        padding-bottom: 2rem;
        
        
        * {
            padding: 0.25rem 0;
        }
        :last-child {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .cvPage {
        display: flex;
        flex-direction: column;
    }

    .cvCategory {
        h2 {
            text-align: left;
        }
    }

    .cvSide {
        margin-left: 0;
        border-left: 0;
        padding-left: 0;
    }
}