
.projectItem {
    padding-bottom: 5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    img {
        min-width: 7rem;
        width: 100%;
        max-width: 25rem;
        border-radius: 0.5rem;
    }

    .textWrapper {
        max-width: 25rem;

        ul {
            list-style-type: none;
            padding: 0;
            
            li {
                padding: 0.5rem 0;
            }
        }
    }
}