
header {
    width: 100vw;
    height: 35vh;
    background-color: #76A5AF;
    background-image: radial-gradient(circle at 50% 200%, rgba(246,255,102,1) 0%, rgba(118,165,175,1) 100%); /* TODO: Needs more tweaking */
    box-shadow: inset 0px -4px 4px -2px #1C1C1C;
    z-index: 10;
    
    /* .wrapper-wave { */
        position: relative;

        .wave {
            position: absolute;
            bottom: 0;
            z-index: 5;
        }

    /* } */
}