
header {
    width: 100%;
    min-height: 30vh;
    height: 50vw;
    max-height: 45vh;
    background-color: #76A5AF;
    background-image: radial-gradient(circle at 50% 125%, rgba(246,255,102,1) 0%, rgba(118,165,175,1) 100%); /* TODO: Needs more tweaking */
    position: relative;

    .header-text {
        position: absolute;
        top: 12%;
        left: 15%;
        text-align: center;
        
        h1 {
            font-size: 4.5rem;
            font-family: 'Allison';
            font-weight: 100;
        }
        p {
            padding: 0;
        }
    }
    
    .wave {
        position: absolute;
        bottom: 0;
    }

    .borderShadow {
        position: absolute;
        width: 100%;
        height: 10%;
        bottom: 0;
        box-shadow: inset 0 -8px 4px #1C1C1C;
    }

    .cvPhoto {
        position: absolute;
        height: 60%;
        bottom: 0;
        right: 20vh;
    }
}


main {
    width: 95%;
    max-width: 60rem;
    height: 100%;
    margin: 0 auto;

}

.mainmenu {

    ul {
        list-style: none;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        padding: 0;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        li {
            padding: 0.5rem 1rem;
        }
        li:first-child {
            padding-left: 0;
        }
        li:last-child {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    header {

        .header-text {
            top: 10%;
            left: 0;
            right: 0;
            /* text-align: center; */
            
            h1 {
                font-size: 4.5rem;
                font-family: 'Allison';
                font-weight: 100;
                line-height: 1;
            }
        }
        
        .cvPhoto {
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
}