.techstack-canvas {
    margin-left: -0.25rem;
}

.canvasAltText {
    opacity: 0.05;
    font-size: 1px;
    line-height: 0;
    display: block;
}

@media screen and (max-width: 800px) {
    .techstack-canvas {
        margin-left: -9%;
    }
}